body{
	text-align: center;
}
	h1{
		color: rgb(2,132,130);
	}
	h2{
		color: #ffd700;
	}

	div.board{
		display: inline-block;
		border: 1px;
		border-color: black;
		height: 50%;
		width: 50%;
	}
	
	div.card{
		float: left;
		margin: 8%;
		text-align: left;
		background: yellow;
		height: 200px;
		width: 150px;
		border: 1px solid black;
		padding: 15px;
		border-radius: 10px;
		}
		
	ul.list{
		font-size: 20px;
		color: green;
		text-align: left;
	}

	span.name{
		color: #ff0000;
		font-size: 25px;
	}
	
	span {
		color: green;
		font-size: 10px;
	}
nav{
	background-color: #808080;
	}
a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
a:hover{
	background-color: #ee5f3c;
}
.clearfix:after{
		visibility: hidden;
		display: block;
		content: " ";
		clear: both;
		height: 0;
		font-size: 0;
	}

footer{
	background-color: #808080;
}
img {
	height: 230px;
	width: 185px;
	margin: -10%;
	border-radius: 0px;
	}

